# Build target
r5mm
dist

# Testing files & targets
test.csv
test_cpp
test_c
tracefile*.txt

# Python dir
.venv
.pytest_cache
__pycache__
test/__pycache__
test/.pytest_cache

# IDE config dir
.vscode
.idea